<div class="container-fluid text-center top-offSet">
  <h1 class="display-4 brand-color-text ">Check out our catalogue!</h1>
  <div class="row">
    <div class="col">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-sm"
            >Filter by title, author, or subject</span
          >
        </div>
        <input
          type="text"
          [(ngModel)]="listFilter"
          class="form-control"
          aria-label="Small"
          aria-describedby="inputGroup-sizing-sm"
        />
      </div>
    </div>
    <div class = "col"></div>
    <div class = "col"></div>
  </div>
  <div class="row mt-3"></div>
  <table class="table">
    <thead class="brand-color-table">
      <th>Title</th>
      <th>Author</th>
      <th>Published Year</th>
      <th>Subject</th>
      <th>ISBN-13</th>
      <th>Count</th>
      <th>Details</th>
      <th *ngIf = "isAuthenticated"></th>
      <th *ngIf = "isAuthenticated">Admin Controls</th>
      <th *ngIf = "isAuthenticated"></th>
    </thead>
    <tbody>
      <tr *ngFor="let textbook of filteredTextbooks">
        <td>{{ textbook.title }}</td>
        <td>{{ textbook.author }}</td>
        <td>{{ textbook.publishedYear }}</td>
        <td>{{ textbook.subject }}</td>
        <td>{{ textbook.isbn13 }}</td>
        <td>{{ textbook.count }}</td>
        <td><button type="button" id = "{{textbook}}" class="btn brand-btn" routerLink = "/catalogue/{{textbook.id}}">Details</button></td>
        <td *ngIf = "isAuthenticated"><button type="button" id = "{{textbook}}" class="btn brand-btn" *ngIf = "textbook.count > 0" routerLink = "/lend/{{textbook.id}}">Lend</button></td>
        <td *ngIf = "isAuthenticated"><button type="button" id = "{{textbook}}" class="btn brand-btn"  (click) = "IncBookCount(textbook.id)">Inc</button></td>
        <td *ngIf = "isAuthenticated"><button type="button" id = "{{textbook}}" class="btn brand-btn"  *ngIf = "textbook.count > 0" (click) = "DecBookCount(textbook.id)">Dec</button></td>
      </tr>
    </tbody>
  </table>
</div>
