<div class="container-fluid text-center top-offSet">
    <h1 class="display-4 brand-color-text">
        Request an addition to our catalogue!
    </h1>
    <div class="container">
        <div class="row mt-3"></div>
        <div class="row">
            <div class="col">
                <form (ngSubmit)="onSubmit()" #requestForm="ngForm">
                    <div class="form-group">
                        <label for="exampleFormControlInput1" class="brand-color-text">Book Title</label>
                        <input type="text" class = "form-control" [ngClass] = "{'is-valid': title.valid, 'is-invalid': title.invalid}"          id="title" required [(ngModel)]="request.title"
                            name="title" #title="ngModel" />
                       
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput2" class="brand-color-text">Author</label>
                        <input type="text" class="form-control" [ngClass] = "{'is-valid': author.valid, 'is-invalid': author.invalid}" id="author" required [(ngModel)]="request.author"
                            name="author" #author="ngModel" />
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput3" class="brand-color-text">ISBN-13</label>
                        <input type="number" class="form-control" [ngClass] = "{'is-valid': isbn13.valid, 'is-invalid': isbn13.invalid}" id="isbn13" required [(ngModel)]="request.isbn13"
                            name="isbn13" #isbn13="ngModel" />
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput4" class="brand-color-text">Published Year (Optional)</label>
                        <input type="number" class="form-control"  [ngClass] = "{'is-valid': publishedYear.valid, 'is-invalid': publishedYear.invalid}" id="publishedYear"  [(ngModel)]="request.publishedYear"
                            name="publishedYear" #publishedYear="ngModel" />
                    </div>
                    <button type="submit" class="btn brand-btn float-right" [disabled]="!requestForm.form.valid">
                        Submit request
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>